@media screen and (max-width: 650px) {
    /* Global Style */
    html {
        scroll-behavior: smooth ;
    }
.tentang .portofolio .nilai .kontak{
  padding: 130px 50px 75px 50px;  
}

.section-title {
    font-size: 20px;
}
/* Header */
header {
    padding: 20px 50px;
    text-align: center;
}

header h1 {
    float: none;
}

h1 :hover{ color: black;

}

nav{
    float: none;
}

nav ul  {
 padding: 0;
 margin-top: 15px;
}

/* Main */
main{
    margin-top: 112px;
}

/* section banner */
.banner {
    padding: 30px 0px;
}

.banner-content {
    padding: 30px;
    width: 80;
    margin-top: 30px;
}

.banner h2 {
    font-size: 20px;
}

.banner-content p {
    font-size: 14px;
}
.github, .instagram, .whatsapp {
    width: 40px;
    height: 40px;
}

/* section tentang saya */
.tentang .wrapper {
    flex-direction: column;
}
.kanan, .kiri {
    width: 100%;
    padding:  15px;
}

.kanan p {
    font-size: 14px ;
}

/* section potofolio */
.portofolio .wrapper {
    flex-direction: column;

}
.porto-card {
    width: 80%;
    margin-bottom: 25Px;
}

.porto-card img {
    max-height: 400px ;
    height: 40vh;

}

/* section nilai dan sertifikasi */
.nilai .wrapper {
    margin-top: 30px;
}

.nilai-title, .sertifikasi-title {
    margin-top: 10px;
    margin-bottom: 15px;

} 

.tabel-nilai, .tabel-sertifikasi {
    font-size: 12px;
}
/* section kontak saya */

.kontak {
    min-height: 100vh;

}

/* footer */


}
    